visualizer/n8n/workflow_rag_query.json
{
  "name": "RAG Pipeline - Query",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "rag-query-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/webhook/n8n/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $json.body.query, settings: $json.body.settings || {} }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-rag-query",
      "name": "RAG Query API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "response",
              "value": "={{ $json.final_response }}"
            },
            {
              "name": "retriever_type",
              "value": "={{ $json.metadata.retriever_type }}"
            }
          ],
          "number": [
            {
              "name": "total_steps",
              "value": "={{ $json.metadata.total_steps }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [750, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "RAG Query API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Query API": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "RAG"
    }
  ]
}
